version: '3'
services:
  web:
    build: .
    container_name: app01
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379
    networks:
      - app01-net
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - app01-net
networks:
  app01-net:
    driver: bridge